# !pip install -U langchain langchain-community langchain-experimental langchain-core langchain-openai langsmith langchainhub python-dotenv
langchain
langchain-community
langchain-experimental
langchain-core
langchain-openai
langsmith
langchainhub
langchain-upstage
python-dotenv
openai
chromadb
langchain_chroma
huggingface_hub
ipywidgets
transformers
torch
torchvision
torchaudio
pypdf
PyMuPDF
pdfplumber
unstructured
pillow_heif
opencv-python
pdf2image
pytesseract
unstructured_inference
jq
konlpy
sentence-transformers
lark
pgvector
psycopg2-binary
rank_bm25
faiss-cpu
# RAGchain is a framework for developing advanced RAG(Retrieval Augmented Generation) workflow powered by LLM (Large Language Model).
RAGchain
libhwp